body {
    font-family: Jokerman;
    background-color:pink;
    margin-top: 65px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight:normal;
}

.img-medium {
    height: 400px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    color: brown;
    padding-top: 100px;
    font-family: ravie;
    padding-right: 20px;
    padding-left: 20px;
}