body {
    font-family: Jokerman;
    background-color: blue;
    margin-top: 65px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight:normal;
}

.img-medium {
    height: 400px;
}

