body {
    font-family: Ravie;
    background-color: white;
    margin-top: 65px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 500%;
}

.bold {
    font-weight:normal;
}

.img-medium {
    height: 300px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    color: black;
    padding-top: 100px;
    font-family: TimesNewRoman;
    padding-right: 20px;
    padding-left: 20px;
}